@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-image: url("../assets/coutndown-bg.jpg");
  background-size: cover;
  background-position: top top;
  justify-content: center;
  background-repeat: no-repeat;
  min-width: 100%;
}
.main-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countdown-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  justify-content: space-evenly;
}

h1 {
  font-size: 3rem;
  letter-spacing: 4px;
  margin-bottom: 5rem;
  color: #434a50;
}
.big-text {
  font-size: 8rem;
}
.countdown-div {
  margin: 0px 3rem;
  font-weight: bold;
}
.countdown-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p,
span {
  color: #8ea3a9;
}
a {
  display: flex;
  position: absolute;
  bottom: 0px;
  color: black;
  font-size: 3rem;
  text-decoration: none;
}

@media (max-width: 968px) {
  .big-text {
    font-size: 6rem;
  }
  h1 {
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }
  .countdown-container {
    margin-top: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  body {
    background-position: center center;
    background-attachment: fixed;
  }
}
